body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  max-width: 740px;
  margin: 1em auto;
}

:link { text-decoration: none; }
a:hover { text-decoration: underline; }

@media (prefers-color-scheme: dark) {
  body {
    background: #202124;
    color: #d0d0d0;
  }

  :link { color: #8ab4f8; }
  :visited { color: rgb(197, 138, 249); }
  :link:active, :visited:active { color: #689ff8; }
}

@media (prefers-color-scheme: light) {
  body {
    background:  #fffffa;
    color: #212529; 
  }
}

code {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: .5em .75em;
  vertical-align: top;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 0.9em;
}

p>code {
  color: #E91E63;
}

footer {
  font-size: 0.75rem;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}


.tag {
  font-weight: normal;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: white;

}

@import 'blockquote';
@import 'prism';
