<!doctype html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ partial "head.html" . }}
</head>

<body>
  <h1>{{ .Title }}</h1>
  
  {{ .Content }}
  {{ partial "footer.html" . }}
</body>
</html>